body {
  // font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
  //font-family: 'Open Sans' !important;
  font-size: 14px;
  //background-color: #f4f4f4;
  height: 100vh;
  color: #1a1a1a;
  font-family: Roboto;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #e8e8e8;
}

html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

h1 {
  color: #000000;
  font-size: 48px;
  font-weight: 300;
}

h2 {
  color: #000000;
  font-size: 24px;
}

h3 {
  color: #213c45;
  font-size: 24px;
}

h4 {
  color: #213c45;
  font-family: Roboto;
  font-size: 20px;
  line-height: 26px;
}

.info {
  color: #999999;
  font-size: 14px;
  line-height: 19px;
}

.logo {
  max-width: 180px;
  margin-left: 35px;
  max-height: 40px;
}
.vendor-logo {
  max-width: 100%;
}
.vendor-image {
  width: 100%;
  margin-bottom: 30px;
}
.ct-menu {
  margin-left: auto;
  margin-right: 20px;
}
.product-list {
  margin-top: 30px;
}

.dropdown-submenu {
  position: relative;
  padding-right: 8px;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.integration-header {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
  color: #333333;
  &.small {
    font-size: 20px;
  }
}

.integration {
  position: absolute;
  top: 52px;
  width: 100%;
  height: 400px;
  text-align: center;
  //background-color: red;
  background-size: cover;
  //background: url(https://commercetools.com/wp-content/uploads/2018/07/Platform_Banner.png);
  background: url(/hero_bghomeX2.png);
  background-size: cover;
  background-repeat: no-repeat;
  // z-index: -1;
  & h1 {
    color: white;
  }
}

.integration-product {
  position: absolute;
  top: 52px;
  width: 100%;
  height: 400px;
  text-align: center;
  //background-color: red;
  background: url(/hero_bggreyX2.png);
  background-size: cover;
  background-repeat: no-repeat;
  // z-index: -1;
  & h1 {
    color: white;
  }
}

.vendor-details {
  padding-left: 10%;
  padding-right: 10%;
  & .title {
    font-weight: bold;
    margin-top: 30px;
  }
  & .description {
    margin-bottom: 30px;
  }

  & .integration-description {
    column-count: 2;
    margin-bottom: 30px;
  }
}
.product-list-item {
  cursor: pointer;
}

.header {
  max-width: 100%;
  background-color: white;
  border-radius: 16px;
  height: 75px;
  top: 0px;
  // z-index: 1;
  & .navbar {
    // background-color: rgba(57,101,116,0.6);
    border-radius: 25px;
    a.nav-link > span.link-content {
      color: black;
      width: 100%;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      &:hover {
        background-color: #dfdfdf;
        color: black;
        border-radius: 5px;
      }
    }
    a.dropdown-toggle.nav-link {
      & > span {
        color: black;
      }
    }
    .dropdown-menu.show {
      //background-color: rgb(57,101,116);
      background-color: white;
      margin-top: 0px;
      a.dropdown-item {
        color: black;
        &:hover {
          color: black;
        }
      }
    }
  }
}
.link-button {
  margin-right: 20px;
}

#content {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh !important;
  margin-bottom: 5px;
}

.content {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  top: 300px;
  position: relative;
  border-radius: 16px;
  //height: 100vh;
}
