body {
  // font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
  //font-family: 'Open Sans' !important;
  font-size: 14px;
  //background-color: #f4f4f4;
  height: 100vh;
  color: #1A1A1A;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  color: #000000;
  font-size: 48px;
  font-weight: 300;
  line-height: 63px;
}

h2 {
  color: #000000;
  font-size: 24px;
  line-height: 32px;
}

h3 {
  color: #213C45;
  font-size: 32px;
  line-height: 54px;
}

.info {

  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 19px;

}

.logo {
  max-width: 180px;
  margin-left: 35px;
}

.vendor-logo {
  max-width: 100%;

}

.vendor-image {
  width: 100%;
  margin-bottom: 30px;
}

.ct-menu {
  margin-left: auto;
  margin-right: 20px;
}

.product-list {
  margin-top: 30px;
}

.dropdown-submenu {
  position: relative;
  padding-right: 8px;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.integration-header {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
  color: #333333;

  &.small {
    font-size: 20px;
  }
}

.integration {
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;

  & h1 {
    color: white;
  }
}

.vendor-details {
  padding-left: 10%;
  padding-right: 10%;

  & .title {
    font-weight: bold;
    margin-top: 30px;
  }

  & .description {
    margin-bottom: 30px;
  }
}

.product-list-item {
  cursor: pointer;
  padding: 15px;
  //width: 25%;
  height: 300px;

  //& img {
  //  max-height: 75px;
  //}
  //
  //& h2 {
  //  font-size: 20px
  //}
  //
  ////& .title-row {
  ////  height:75px;
  ////  overflow: hidden;
  ////}
  //
  //& .description-row {
  //  height:75px;
  //  overflow: hidden;
  //}
  //
  //& .image-row {
  //  min-height:75px;
  //}
  //
  //& .vendor-name {
  //  color: #999999;	font-family: Roboto;	font-size: 14px;	line-height: 19px;
  //}
  //
  & h3 {
    color: #1A1A1A;
    font-family: Roboto;
    font-size: 20px;
    line-height: 26px;
  }
}


.header {
  background-image: url(https://commercetools.com/wp-content/uploads/2018/07/Platform_Banner.png);
  max-width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;

  & .navbar {
    background-color: rgba(57, 101, 116, 0.6);

    a.nav-link > span.link-content {
      color: white;
      width: 100%;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;

      &:hover {
        background-color: white;
        color: black;
        border-radius: 5px;
      }
    }

    a.dropdown-toggle.nav-link {
      & > span {
        color: white
      }

      &::after {
        color: white
      }
    }

    .dropdown-menu.show {
      background-color: rgb(57, 101, 116);
      margin-top: 0px;

      a.dropdown-item {
        color: white;

        &:hover {
          color: black
        }
      }
    }
  }
}

.link-button {
  margin-right: 20px;
}

#content {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh !important;
}

.content {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  //height: 100vh;
}
