body {
  // font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
  font-family: 'Open Sans' !important;
  font-size: 14px;
  background-color: #f4f4f4;
  height:100vh;
}



.logo {
  max-width: 180px;
  margin-left: 35px;
}
.vendor-logo {
  max-width: 100%;

}
.vendor-image {
  width: 100%;
  margin-bottom: 30px;
}
.ct-menu {
  margin-left: auto;
  margin-right: 20px;
}
.product-list {
  margin-top: 30px;
}

.dropdown-submenu {
  position: relative;
  padding-right: 8px;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.integration-header {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
  color: #333333;
  &.small {
    font-size: 20px;
  }
}
.integration {
  position: absolute;
  top: 52px;
  width: 100%;
  text-align: center;
  background-color: gray;
  & h1 {
    color:white;
  }
}
.vendor-details {
  padding-left: 10%;
  padding-right: 10%;
  & .title {
    font-weight: bold;
    margin-top:30px;
  }
  & .description {
    margin-bottom:30px;
  }
}
.product-list-item {
  cursor: pointer;
  margin-right:10px;
  padding-top: 15px;
  //border-radius: 5px;
  //width: 100%;
  //box-shadow: rgb(166, 153, 166) 4px -4px 20px 0px;

  & img {
    max-height: 75px;
  }

  & h2 {
    font-size: 20px
  }

  & .title-row {
    height:75px;
    overflow: hidden;
  }

  & .image-row {
    min-height:75px;
  }
}



.header {
  max-width: 100%;
  background-color: white;
  & .navbar {
    // background-color: rgba(57,101,116,0.6);
    border-radius: 25px;
    a.nav-link>span.link-content { 
      color:white;
      width: 100%;
      display: inline-block;
      padding-left:5px;
      padding-right:5px;
      &:hover {
        background-color:white;
        color:black;
        border-radius: 5px;
      }
    }
    a.dropdown-toggle.nav-link{
      &> span {
        color:white
      }
      &::after {color:white}
    }
    .dropdown-menu.show {
      background-color: rgb(57,101,116);
      margin-top:0px;
      a.dropdown-item {
        color:white;
        &:hover {
          color:black
        }
      }
    }
  }
}
.link-button {
  margin-right: 20px;
}
#content {
  padding-left:10%;
  padding-right:10%;
  min-height: 100vh !important;
}

.content {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  //height: 100vh;
}
